<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> JOvian Career</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
    #banner{
        width: 100%;
        height: 300px;
        object-fit: cover;
    }
    </style>
</head>
<body>
    <div>
        <h1 class="text-center" >Jovian Career</h1>
        <img id="banner" class="img-fluid" src="http://192.168.0.104:5000/static/banner.jpg" height="300">
        <h2 class="text-center">About Jovian</h2>
        <p>Jovian is a career portal for job seekers and employers. 
            It is a platform where job seekers can find jobs and employers can find the right candidates for their company.</p>
        <h2 class="text-center">Job Openings</h2>
        <p class> TODO- Job seekers can find the list of job openings here.</p>
        <div style>
            <button>Contact Us</button>
            <p>Copyright: Amanat, 2024</p>
        </div>
    </div>
</body>
</html>