<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> JOvian Career</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
    #banner{
        width: 100%;
        height: 300px;
        object-fit: cover;
    }
    </style>
</head>
<body>
    <div style="margin-left: 50px; margin-right: 50px;">
        <h1 class="text-center mt-4 mb-4">Jovian Career</h1>
        <img id="banner" class="img-fluid" src="http://192.168.0.104:5000/static/banner.jpg" height="300">
        <h2 class="text-center mt-4 mb-4">About Jovian</h2>
        <p class="lead"> Jovian is a fast-growing startup in the field of online education.
            We are building a platform to make education accessible and affordable to everyone in the world.
            We are a team of passionate engineers, designers, educators, and content creators who believe that education is a fundamental human right.
            We take pride in the work we do, and we are relentless in our pursuit of excellence. 
            If you share our vision and want to be part of the team, we invite you to apply for the following roles. 
        </p>    
        <h2 class="text-center mt-4 mb-4">Job Openings</h2>
        <div>
            {% for job in jobs %}
                {% include 'jobitem.html' %}
            {% endfor %}
        </div>
        <div style="text-align: center;">
            <button class="btn btn-primary btn-lg">Contact Us</button>
            <p class="mt-4 mb-4">Copyright: Amanat, 2024</p>
        </div>
    </div>
</body>
</html>